<form>
	<div class="status_section">
		<div class="language_related">
			<label for="language_id" class="validate-language_required validate-documentation_unique_required">{{writeString=wns.language}}*</label><br />
			<select name="language_id" class="ui-widget-content" data-widget-type="language_input"></select><br />
		</div>
		<div class="hide_if_not_saved">
			<label>{{writeString=wns.created_info}}:</label><span class="created_info status"></span><br />
			<label>{{writeString=wns.updated.info}}:</label><span class="updated_info status"></span><br />
			<label>ID:</label><span class="detail_id">{{id}}</span>
		</div>
	</div>
	<div class="group_fields">
		<label for="name" class="validate-name_required">{{writeString=wns.name}}*</label>
		<input type="text" name="name" class="ui-widget-content" />
	</div>
	<div class="group_fields">
		<label for="key" class="validate-key_required">{{writeString=wns.documentation.key}}*</label>
		<input type="text" name="key" class="ui-widget-content autowidth" size="28" /><br />
	</div>
	<div class="group_fields">
		<label for="is_published">{{writeString=wns.documentation.is_published}}</label>
		<input type="checkbox" name="is_published" /><br />
	</div><br />
	<div class="group_fields">
		<label for="title">{{writeString=wns.documentation.title}}</label>
		<input type="text" name="title" size="80" class="ui-widget-content autowidth" /><br />
	</div>
	<div class="group_fields">
		<label for="version">{{writeString=wns.documentation.version}}</label>
		<input type="text" name="version" class="ui-widget-content autowidth" size="8" />
	</div>
	<label for="youtube_url">{{writeString=wns.documentation.youtube_url}}</label>
	<input type="text" name="youtube_url" size="60" class="ui-widget-content autowidth" /><br />
	<label for="description" class="validate-documentation_part_body_required">{{writeString=wns.documentation.description}}</label>
	<div class="documentation_description" data-widget-type="rich_text">
		<textarea name="description" class="ui-widget-content" rows="20" cols="40"></textarea>
	</div>
</form>