<div class="group_fields">
	<label for="display_mode">{{writeString=wns.documentations.display_option}}</label>
	<select name="display_mode" class="ui-widget-content autowidth"></select>
</div>
<div class="group_fields">
	<label for="documentation">{{writeString=wns.documentation}}</label>
	<select name="documentation[]" class="ui-widget-content autowidth" multiple="multiple"></select>
</div>
<br style="clear:left;" />
<ol class="ui-editable-items-list">
</ol>