Widget.types.documentation_input = {
	prepare: function() {
		this.reload();
		Widget.handle('rapila-documentation_changed', this.reload.bind(this));
	},
	
	reload: function() {
		var _this = this;
		var current = this._element.val();
		this._element.empty();
		var option = jQuery('<option/>');
		var documentations = this.getDocumentations();
		jQuery.each(documentations, function(i, documentation) {
			option.clone().text(documentation.name).attr('value', documentation.id).appendTo(this._element);
		}.bind(this));
		option.text('----').val('').prependTo(this._element);
		if(current) {
			this.val(current);
		} else {
			this.val(_this.settings.initial_selection);
		}
		if(this.settings.disabled) {
			this._element.attr('disabled', true);
		}
	},
	
	val: function(value) {
		if(value) {
			this._element.val(value);
			return;
		}
		return this._element.val();
	},
	
	settings: {
		initial_selection: null
	}
};