<div class="group_fields">
	<label for="display_mode">{{writeString=wns.documentations.display_option}}</label>
	<select name="display_mode" class="ui-widget-content autowidth">
		{{display_options}}
	</select>
</div>
<div class="group_fields">
	<label for="documentation_id">{{writeString=wns.documentation}}</label>
	<select name="documentation_id" class="ui-widget-content">
		{{documentation_options}}
	</select>
</div>

