{{identifierContext=start;name=description}}<div class="documentation_description part_links"><a id="top_of_page"> </a>
	{{description}}
</div>{{identifierContext=end;name=description}}{{identifierContext=start;name=youtube_video}}
<h3 class="not_to_be_printed">{{writeString=wns.documentation.video_tutorial}} «{{documentation_name}}»</h3>
{{youtube_video}}{{identifierContext=end;name=youtube_video}}{{identifierContext=start;name=part_links}}
<div class="part_links not_to_be_printed">
	<h4>{{writeString=wns.documentation.quick_choice_links}}</h4>
	{{part_links}}
</div>{{identifierContext=end;name=part_links}}
{{part}}
