{{identifierContext=start;name=description}}<a id="top_of_page"> </a><div class="documentation_description documentation_part">
	<h3>Zusammenfassung</h3>
	{{description}}
</div>{{identifierContext=end;name=description}}{{identifierContext=start;name=part_links}}
<div class="part_links not_to_be_printed">
	<h3>Inhaltsverzeichnis</h3>
	<ul id="documentation_navigation">
		{{part_links}}
	</ul>
</div>{{identifierContext=end;name=part_links}}{{identifierContext=start;name=youtube_video}}
{{youtube_video}}
<div class="not_to_be_printed legend">{{writeParameterizedString=documentation.video_tutorial_with_name;documentation_name=\{\{documentation_name\}\}}}</div>
{{identifierContext=end;name=youtube_video}}
{{part}}
