{{identifierContext=start;name=description}}<a id="top_of_page"> </a><div class="documentation_description part_links">
	{{description}}
</div>{{identifierContext=end;name=description}}{{identifierContext=start;name=youtube_video}}{{youtube_video}}
<div class="not_to_be_printed legend">{{writeString=wns.documentation.video_tutorial}} «{{documentation_name}}»</div>
{{identifierContext=end;name=youtube_video}}{{identifierContext=start;name=part_links}}
<div class="part_links not_to_be_printed">
	{{part_links}}
</div>{{identifierContext=end;name=part_links}}
{{part}}
