<li>
	<a href="{{detail_link}}" class="heading" rel="internal">{{title_or_name}}{{identifierContext=start;name=has_video_tutorial}}
	<span>{{has_video_tutorial}}</span>{{identifierContext=end;name=has_video_tutorial}}</a>{{identifierContext=start;name=part_links}}
	<ul class="part_links">
		{{part_links}}
	</ul>{{identifierContext=end;name=part_links}}
</li>