<li>
	<a href="{{detail_link}}" class="heading" rel="internal">{{title_or_name}}</a>{{identifierContext=start;name=has_video_tutorial}}
	{{has_video_tutorial}}<br />{{identifierContext=end;name=has_video_tutorial}}{{identifierContext=start;name=part_links}}
	<ul class="part_links">
		{{part_links}}
	</ul>{{identifierContext=end;name=part_links}}
</li>