<div class="documentation_part">
	<h3><a class="top_of_page" href="{{href_top}}" title="{{writeString=top_of_page.link_title}}">⇧</a><a name="{{anchor}}">«{{name}}»</a></h3>
	{{image}}
	<div class="part_content{{margin_left_class}}">
	{{content}}
	</div><br style="clear:both;" />
	{{identifierContext=start;name=external_link}}<a href="{{external_link}}">Quelle</a>{{identifierContext=end;name=external_link}}
</div>